BACKEND/node_modules/
frontend/node_modules/
package.json
.env
BACKEND/.env
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.production.local
frontend/.env.test.local
*.log
dist/
build/